
/***************/
/* GENERAL USE */
/***************/

.full-viewport {
    width: 100%;
    height: 100vh;
    overflow-x: none;
}

.center-flex, .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column-flex, .flex-column {
    display: flex;
    flex-direction: column;
}

.row-flex, .flex-row {
    display: flex;
    flex-direction: row;
}

.expand {
    flex: 1;
}

.parent-size {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

/*********/
/* STYLE */
/*********/

html, body {
    margin: 0px;
    font-family: sans-serif;
    background-color: #121212;
    color: white;
}
